.cart {
    position: absolute;
    top: 35px;
    right: 340px;
    border: 2px solid #333;
    padding: 10px;
    max-width: 500px;
    margin: 20px auto;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.cart h2 {
    color: #333;
}

.cart ul {
    list-style-type: none;
    padding: 0;
}

.cart li {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
    color: #666;
}

.cart li p {
    display: flex;
    justify-content: center;
}

.cart button {
    padding: 10px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}