.card {
    border-radius: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    margin: 10px;
    width: 300px;
    height: 500px;
    background: linear-gradient(180deg, rgba(17, 34, 218, 0.9) 17%, rgba(249, 126, 205, 0.9) 100%);
    box-shadow: 0px 0px 12px -1px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 0px 12px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 12px -1px rgba(0,0,0,0.75);
}

.card img {
    border-radius: 20px;
    box-shadow: 0px 0px 12px -1px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 0px 12px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 12px -1px rgba(0,0,0,0.75);
}

.star {
    height: 30px;
    width: 30px;
    position: absolute;
    right: 20px;
    top: 10px;
    transition: color , transform 500ms ease;
}

.star:hover {
    color: #ff8000;
    transform: scale(1.1);
}

.star-active {
    color: #ff8000;
    transform: scale(1.1);
}

