.modal-content {
    position: fixed;
    top: 40%;
    right: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid black;
    border-radius: 20px;
    margin: 10px;
    width: 320px;
    height: 200px;
    z-index: 1;
    background: linear-gradient(180deg, rgba(17, 34, 218, 1) 17%, rgba(249, 126, 205, 1) 100%);
    box-shadow: 0px 0px 12px -1px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 0px 12px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 12px -1px rgba(0,0,0,0.75);
}

.modal-content_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
}

.modal-content_title span {
    font-size: 30px;
    cursor: pointer;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.modal-content_btn-group {
    width: 80%;
    display: flex;
    justify-content: space-between;
}
