.wrapper {
    border-radius: 20px;
    position: relative;
    font-size: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    width: 95%;
    height: 100px;
    border: 1px solid black;
    background: linear-gradient(180deg, rgba(17, 34, 218, 0.5) 17%, rgba(249, 126, 205, 0.5) 100%);
    box-shadow: 0px 0px 12px -1px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 0px 12px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 12px -1px rgba(0,0,0,0.75);

}

.shopCartBtn {
    margin: 0;
    cursor: pointer;
    transition: color , transform 500ms ease;
}

.shopCartBtn-active {
    color: blue;
    transform: scale(1.1);
}


.wrapper .shopCartBtn:hover {
    color: blue;
    transform: scale(1.1);
}

.shop-cart {
    z-index: 1;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 140px;
    min-width: 450px;
    min-height: 100px;
    background-color: white;
    box-shadow: 0px 0px 12px -1px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 0px 12px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 12px -1px rgba(0,0,0,0.75);
}

.shop-cart h3 {
    display: flex;
    justify-content: center;
}

.shop-cart_content {
    font-size: 15px;

}

.shop-cart_content img {
    width: 150px;
    height: 90px;
}

.shop-cart_content-wrapper {
    padding: 10px 20px;
    display: flex;

    align-items: center;
    text-align: center;
}

.shop-cart_content-wrapper p {
   display: flex;
   justify-content: flex-start;
   margin: 0 5px;
}

.btn-trash {
    width: 20px;
    height: 20px;
    margin: 0 auto;
    cursor: pointer;
    transition: color , transform 500ms ease;
}

.btn-trash:hover {
    color: blue;
    transform: scale(1.1);
}

.empty {
    display: flex;
    justify-content: center;
}