@import url('https://fonts.googleapis.com/css2?family=Nova+Square&display=swap');
@import "components/Card/Card.module.css";
@import "components/Header/Header.module.css";
@import "components/Modal/Modal.module.css";



* {
    font-family: 'Nova Square', sans-serif;
    font-weight: 600;
}

body {
    background-image: url("images/background.jpg");
    margin: 10px;
    padding: 0;
}

main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    padding-top: 20px;
}

button {
    cursor: pointer;
    border-radius: 20px;
    color: white;
    width: 100px;
    height: 30px;
    background: rgb(6,14,131);
    background: linear-gradient(0deg, rgba(6,14,131,1) 0%, rgba(12,25,180,1) 100%);
    border: 4px outset #506bff;
}

button:hover {
    background: rgb(0,3,255);
    background: linear-gradient(0deg, rgba(0,3,255,1) 0%, rgba(2,126,251,1) 100%);
}